<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipoestado.descricao %>
</p>

<%= link_to 'Editar', edit_tipoestado_path(@tipoestado) %> |
<%= link_to 'Voltar', tipoestados_path %>
