<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipoobjeto.descricao %>
</p>

<%= link_to 'Editar', edit_tipoobjeto_path(@tipoobjeto) %> |
<%= link_to 'Back', tipoobjetos_path %>
