 <div id="wrapper" class="toggled">

       <!-- Sidebar -->
       <div id="sidebar-wrapper">
           <ul class="sidebar-nav">
               <li class="sidebar-brand" style="text-indent: 0px;height: inherit;">
                   <%= image_tag "scaped-logo.jpg", style: "width: 100%;text-align: center;" %>
               </li>
               <li>
                   <a href="#">Busca</a>
               </li>
           </ul>
       </div>
       <!-- /#sidebar-wrapper -->

       <!-- Page Content -->
       <div id="page-content-wrapper py-0">
           <div class="container-fluid px-4">
               <div class="row">
                 <div class="col-3 text-center py-3">
                   Sobre
                 </div>
                 <div class="col-3 text-center py-3">
                   Menu 2
                 </div>
                 <div class="col-3 text-center py-3">
                   Menu 3
                 </div>
                 <div class="col-3 text-center py-3">
                  <%= link_to "Sign Up", controller: "users", action: "new"%>
                 </div>
                </div>
               <!--a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a-->
               <%= yield %>
           </div>
       </div>
       <!-- /#page-content-wrapper -->

   </div>
   <!-- /#wrapper -->
   <!-- Menu Toggle Script -->
   <script>
   $("#menu-toggle").click(function(e) {
       e.preventDefault();
       $("#wrapper").toggleClass("toggled");
   });
   </script>